
<div class="container mt-5">
    <h2 class="text-center">Movie Search</h2>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search for a movie">
      <button class="btn btn-primary mt-3" (click)="searchMovies()">Search</button>
    </div>
  
    <div class="row mt-4" *ngIf="movies.length">
      <div class="col-md-4 mb-4" *ngFor="let movie of movies">
        <div class="card">
          <img [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path" class="card-img-top" alt="{{ movie.title }}">
          <div class="card-body">
            <h5 class="card-title">{{ movie.title }}</h5>
            <button class="btn btn-primary" (click)="viewDetails(movie.id)">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  