<!-- <div class="container">
    <app-input></app-input>

    <app-search-detail *ngIf="searchstring">
        <h3>Search Result for {{searchstring}}</h3>
    </app-search-detail>

    <div class="row">
        <app-search-skeleton *ngIf="isloading" [skeletons]="skeletonArr"></app-search-skeleton>
        <app-search-result [movies]="searchResults"></app-search-result>
        <app-search-notfound *ngIf="notFound">
            <h3 class="fw-meduim fs-5">No data available , Please try again</h3>
        </app-search-notfound>
    </div>
</div> -->

<app-moiveapp></app-moiveapp>




